@{
    ViewData["Title"] = "Robert Rayer";
}

<div class="row p-5">
    <div class="d-block m-auto">
        <img class="rounded-circle" src="~/images/profilealt.jpg" height="200" width="200" />
    </div>
    <div class="col-lg-9 col-md-12 pb-2">
        <div class="font-weight-bold">
            Robert Rayer
        </div>
        <div class="font-weight-bold">
            Software Engineer at Quality Distribution
        </div>
        <div>
            Experienced full stack developer that has worked on enterprise software across multiple different industries, including Law Enforcement, Project Management, Accounting, and Logistics.
        </div>
        <div>
            My current focus is in ASP.NET Core web applications following the MVC pattern with a SQL Server backend. I also have extensive experience working in WPF desktop applications.
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-center">
        <a href="https://visualstudio.microsoft.com/" target="_blank">
            <img class="card-img-top mt-2 card-image" src="~/images/Microsoft-Visual-Studio-icon.png" alt="Visual Studio">
        </a>
        <div class="card-body">
            <h5 class="card-title">Visual Studio</h5>
            <p class="card-text">Profecient with Visual Studio 2019, 2017, 2015, and 2012</p>
        </div>
    </div>
    <div class="card text-center">
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">
            <img class="card-img-top mt-2 card-image" src="~/images/csharp.png" alt="C#">
        </a>
        <div class="card-body">
            <h5 class="card-title">C#</h5>
            <p class="card-text">Over 5 years of experience working with C# with various different front and backend frameworks</p>
        </div>
    </div>
    <div class="card text-center">
        <a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core" target="_blank">
            <img class="card-img-top mt-2 card-image" src="~/images/dotnetcore.png" alt="ASP.NET Core">
        </a>
        <div class="card-body">
            <h5 class="card-title">ASP.NET Core</h5>
            <p class="card-text">Utilizes HTML, JavaScript, JQuery, BootStrap, C# and the .NET Core 3.1 framework</p>
        </div>
    </div>
    <div class="card text-center">
        <a href="https://www.youracclaim.com/badges/c1ff282a-e24d-4f9e-afe1-10f62f08d2c3/public_url" target="_blank">
            <img class="card-img-top mt-2 card-image" src="~/images/msca.png" alt="MSCA">
        </a>
        <div class="card-body">
            <h5 class="card-title">Microsoft Certified Professional</h5>
            <p class="card-text">Certified in SQL Server 2016 development</p>
        </div>
    </div>
    <div class="card text-center">
        <a href="https://www.lsu.edu/business/sdeis/academics/bs-isds/index.php" target="_blank">
            <img class="card-img-top mt-2 card-image" src="~/images/lsu.png" alt="LSU">
        </a>
        <div class="card-body">
            <h5 class="card-title">LSU Graduate</h5>
            <p class="card-text">B.S. in Information Systems and Decision Sciences</p>
        </div>
    </div>
</div>